<%- include('includes/head') %>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-">
          <h1 class="display-1 text-center erro-404">ERRO 404</h1>
          <p class="text-center erro-404">A página que você procura não existe.</p>
        </div>

        <a href='/'><button type="button" class="btn btn404">Página inicial</button></a>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>